<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Email</title>
</head>
<style>
</style>
<body style="background-color: #222533; background: #222533; padding: 20px; font-size: 14px; line-height: 1.43; font-family: 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;">
    <div style="max-width: 600px; margin: 0px auto; background-color: #fff;box-shadow: 0px 20px 50px rgba(0,0,0,0.05);">
        <table style="width: 100%;">
            <tr>
                <td style="background-color: #fff; background: #ffffff">
                    <img src="cid:logo_100px.png" alt="iBorrow Logo" style="width: 100px; padding: 20px">
                </td>
            </tr>
        </table>
        <div style="padding: 60px 70px; border-top: 1px solid rgba(0,0,0,0.05);">
            <h1 style="margin-top: 0px;">Welcome to iBorrow</h1>
            <div style="color: #636363; font-size: 14px;">
                <p>Hi {{name}}, Thank you for creating account on our website, we are happy to welcome you to iBorrow. We have
                    a lot of cool features available for you, you can checkout a quick outline of the most popular
                    features below.</p>
            </div>
            <div style="border: 2px solid #652392; padding: 40px; margin: 40px 0px;">
                <h4 style="margin-bottom: 20px; margin-top: 0px; font-size: 18px; display: inline-block; border-bottom: 1px dotted #111;">Get started with these features</h4>
                <table style="width: 100%;">
                    <tr>
                        <td style="padding: 10px 0px; border-bottom: 1px solid rgba(0,0,0,0.05);">
                            <img alt="" src="cid:bigicon7.png" style="width: 70px; height: auto;">
                        </td>
                        <td style="padding-left: 30px; border-bottom: 1px solid rgba(0,0,0,0.05);">
                            <div style="font-weight: bold; color: #652392; font-size: 16px;">Create your own request</div>
                            <div style="font-size: 14px; color: #B8B8B8;">Its really easy to create an investment or borrow request on iBorrow</div>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 10px 0px; border-bottom: 1px solid rgba(0,0,0,0.05);">
                            <img alt="" src="cid:bigicon6.png" style="width: 70px; height: auto;">
                        </td>
                        <td style="padding-left: 30px; border-bottom: 1px solid rgba(0,0,0,0.05);">
                            <div style="font-weight: bold; color: #652392; font-size: 16px;">View request and option in</div>
                            <div style="font-size: 14px; color: #B8B8B8;">View various investment/borrow request on iBorrow and option in if interested</div>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 10px 0px;">
                            <img alt="" src="cid:bigicon2.png" style="width: 70px; height: auto;">
                        </td>
                        <td style="padding-left: 30px;">
                            <div style="font-weight: bold; color: #652392; font-size: 16px;">Business Oppurtunity</div>
                            <div style="font-size: 14px; color: #B8B8B8;">View various business oportunity and start investing/request for advice/investment</div>
                        </td>
                    </tr>
                </table>
                <table style="width: 100%; border-top: 1px solid #eee">
                    <tr>
                        <td style="font-size: 14px;">Your username:
                            <strong>{{ username }}</strong>
                        </td>
                        <td style="text-align: right; padding-left: 20px;">
                            <a href="{{signinurl}}" style="padding: 8px 20px; background-color: #652392; color: #fff; font-weight: bolder; font-size: 16px; display: inline-block; margin: 10px 0px; text-decoration: none;">Sign In</a>
                        </td>
                    </tr>
                </table>
            </div>
            <h4 style="margin-bottom: 10px;">Need Help?</h4>
            <div style="color: #A5A5A5; font-size: 12px;">
                <p>If you have any questions you can simply find our contact information below. Also
                    contact us at
                    <a href="mailto:contact@iborrow.com" style="text-decoration: underline; color: #652392;">contact@iborrow.com</a>
                </p>
            </div>
        </div>
        <div style="background-color: #F5F5F5; padding: 40px; text-align: center;">
            <div style="margin-bottom: 20px;">
                <a href="#" style="display: inline-block; margin: 0px 10px;">
                    <img alt="twitter" src="cid:twitter.png" style="width: 28px;">
                </a>
                <a href="#" style="display: inline-block; margin: 0px 10px;">
                    <img alt="facebook" src="cid:facebook.png" style="width: 28px;">
                </a>
                <a href="#" style="display: inline-block; margin: 0px 10px;">
                    <img alt="linkein" src="cid:linkedin.png" style="width: 28px;">
                </a>
                <a href="#" style="display: inline-block; margin: 0px 10px;">
                    <img alt="instagram" src="cid:instagram.png" style="width: 28px;">
                </a>
            </div>
            <div style="margin-bottom: 20px;">
                <a href="#" style="text-decoration: underline; font-size: 14px; letter-spacing: 1px;  margin: 0px 15px; color: #261D1D;">Contact Us</a>
                <a href="#" style="text-decoration: underline; font-size: 14px; letter-spacing: 1px;  margin: 0px 15px; color: #261D1D;">Privacy Policy</a>
            </div>
            <div style="color: #A5A5A5;font-size: 12px; margin-bottom: 20px; padding: 0px 50px;">You are receiving this email because you signed up on iBorrow.</div>
            
        <div style="margin-top: 20px; padding-top: 20px; border-top: 1px solid rgba(0,0,0,0.05);">
            <div style="color: #A5A5A5; font-size: 10px; margin-bottom: 5px;">Plot 20/22, Aguiyi Ironsi Street, Maitama, Abuja</div>
            <div style="color: #A5A5A5; font-size: 10px;">Copyright 2018 iBorrow. All rights reserved.</div>
        </div>
    </div>
    </div>
</body>

</html>